<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algo Results - Dermalab</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="/static/styles/styles.css" rel="stylesheet">
    <link href="/static/styles/subpage.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-left">
            <a href = "http://127.0.0.1:3000/index.html" class = "logo-link"><h1 class="logo">Dermalab</h1></a>
        </div>
        <div class="header-right">
            <nav class="menu-items">
                <a href="https://github.com/vishruthb/dermalab" target="_blank" class="github-icon"><i class="fab fa-github"></i></a>
            </nav>
        </div>
    </header>

    <body>
        <section class="main-content-wrapper">
            <br>
            <h3 class = "pred">Predictive Diagnostic Results:</h3>
            <p><ul>
            {% for condition, percentage in results %}
                <li>{{ condition }}: {{ percentage|round(2) }}% match</li>
            {% endfor %}
            </ul> <br>

            <h3>Additional Information:</h3>
{% for result in metaphor_results %}
    <p><a href="{{ result.url }}">{{ result.title }}</a> (Published: {{ result.published_date }})</p>
{% endfor %}
        
        </p>

        </section></section>

        
    </body>
</html>
