<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dermalab</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="/static/styles/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header-left">
            <a href = "../index.html" class = "logo-link"><h1 class="logo">Dermalab</h1></a>
        </div>
        <div class="header-right">
            <nav class="menu-items">
                <a href="https://github.com/vishruthb/dermalab" target="_blank" class="github-icon"><i class="fab fa-github"></i></a>
            </nav>
        </div>
    </header>

    <main>

        <div class="main-content-wrapper">
            <form action="/" method="post" enctype="multipart/form-data" class="upload-form">
                <div class="file-upload-wrapper">
                    <input type="file" name="file[]" id="file-upload" multiple>
                    <label for="file-upload"></label>
                </div>
                <div id="uploaded-files">
                    <!-- Your uploaded files will be displayed here -->
                </div>
                <button type="submit" class="upload-btn">Upload and Analyze <i class="fa fa-chevron-right"></i></button>
            </form> 
    </main>
    <script src="/static/scripts/scripts.js"></script>
</body>

<footer>
    <div class="disclaimer-toggle">
        <span id="disclaimer-header">Disclaimer <i class="fa fa-chevron-down" id="disclaimer-chevron"></i></span>
        <div id="disclaimer-content" style="display: none;">
            The information and results provided by Dermalab are for informational purposes only and are not intended as a substitute for professional medical advice, diagnosis, or treatment. Always seek the advice of your physician or another qualified health provider with any questions you may have regarding a medical condition. Do not disregard professional medical advice or delay in seeking it because of something you have read or interpreted on this website. Use of this website and its services does not establish a doctor-patient relationship. Dermalab is not responsible for any decisions or actions taken based on the information provided herein.
        </div>
    </div>

    <script>
        document.getElementById("disclaimer-header").addEventListener("click", function() {
            var content = document.getElementById("disclaimer-content");
            var chevron = document.getElementById("disclaimer-chevron");
            var toggleDiv = document.querySelector(".disclaimer-toggle");
            if (content.style.display === "none") {
                content.style.display = "block";
                toggleDiv.classList.add("expanded");
                chevron.className = "fa fa-chevron-up";
            } else {
                content.style.display = "none";
                toggleDiv.classList.remove("expanded");
                chevron.className = "fa fa-chevron-down";
            }
        });
    </script>
</footer>

</html>