/* Responsive Design - Using Flexbox and Media Queries */

/* For tablets and smaller screens */
@media (max-width: 768px) {
    .header-left, .header-right {
        flex-direction: column;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .main-content-wrapper {
        width: 80%; /* increased width for smaller screens */
    }

    .condition-option {
        width: calc(50% - 10px); /* Half width minus half gap for breathing room */
        margin-right: 20px;
    }
}

/* For mobile and smaller screens */
@media (max-width: 480px) {
    .main-content-wrapper {
        width: 90%; /* further increased width for mobile screens */
    }

    .info-text {
        font-size: 2.5em; /* reduce font size for better fit */
    }
    .condition-option {
        width: 100%; 
        margin-right: 0;
    }
}


/* Global Styles */
body {
    font-family: "Inter", ui-sans-serif;
    font-weight: 600;
    background: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #414141;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Button */
.base-button {
    display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    background-color: #ff7ea3;
    color: #fff; /* White text color */
    padding: 7px 3px;
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    border: 1px;
    text-decoration: none;
    text-align: center;
    width: 12em;
    transition: background-color 0.1s ease-in;
}

.base-button:hover {
    background-color: #ff9ab0; /* A shade lighter than #5c9cf5 */
}

/* h3 */
h3 {
    font-size: 1.3em;
    font-weight: 400;
    margin: 0;
    padding: 0;
    color: #2c3138;
    font-family: "Inter", ui-sans-serif;
}

.pred {
    background-color: #fefae9;
    border-radius: 5px;
    padding: 10px;
    font-weight: 800;
}

p {
    font-weight: 400;
}

.base-link {
    color: #5c9cf5; /* You can adjust the link color if needed */
    text-decoration: none;
    transition: background-color 0.2s ease-in;
    padding: 2px 4px;
    border-radius: 5px;
    font-weight: 400;
}

.base-link:hover {
    background-color: #d6e3f8;
}

.resources-list {
    margin-top: 5px;
}

/* Header */

header {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 5px 0px;
    padding-top: 20px;
    position: relative;
}

.header-left, .header-right {
    flex: 1;
    display: flex;
    align-items: center;
}

.header-left {
    justify-content: flex-start;
}

.header-right {
    justify-content: flex-end;
}

header::before {
    content: "";
    position: absolute;
    height: 1.3px;
    width: 100%;
    background-color: #d4d8de;
    top: 100%;
    left: 0;
    z-index: -1;
}

.logo {
    font-size: 1.4em;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 0;
    color: #2b323b;
    z-index: 1;
    text-decoration: none;
    padding: 3px 6px;
    border-radius: 5px;
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
}

.logo-link {
    text-decoration: none;
}

.logo-link:hover .logo {
    background-color: #e7ebed;
}

.menu-items {
    display: flex;
    align-items: center;
    gap: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    z-index: 1;
}

.menu-link, .github-icon {
    display: inline-block;
    transition: color 0.05s ease-in-out;
    color: #949ba6;
    text-decoration: none;
    font-size: 1em;
    padding: 2px 4px; /* Add padding for a better visual effect on hover */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.1s ease-in, color 0.1s ease-in;
}
.logo:hover {
    background-color: #e7ebed; /* light gray background */
}

.menu-link:hover, .github-icon:hover {
    background-color: #e7ebed; /* light gray background */
    color: #67717f; /* Black text color */
}

.menu-link:active, .github-icon:active, .logo:active {
    background-color: #d0d4d5;
}

/* Main Content */
.main-content-wrapper {
    width: 50%;
    margin: 0 auto;
}

.info-text {
    max-width: 80%;
    font-size: 4em;
    margin-left: 0;
    text-align: left;
    color: #44474b;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    line-height: 1.4;
}

.call-to {
    font-size: 2em;
    background-color: #d6e3f8;
    padding: 10px 15px;
    border-radius: 8px;
    color: #5c9cf5;
    margin-top: 30px;
}

.highlight-logo {
    font-size: 2em;
    background-color: #d6e3f8;
    padding: 10px 15px;
    border-radius: 8px;
    color: #5c9cf5;
    margin-top: 30px;
}

.conditions {
    display: flex;
    flex-wrap: wrap; /* Allow wrapping for the flex items */
    justify-content: space-between; /* Distributes the items evenly */
    align-items: start;
    width: 50%; /* Match the width of the header */
    margin: 0 auto; /* Center the conditions on the page */
    gap: 10px; /* Gap between each condition */
    text-decoration: none;
}

.condition-option {
    width: 25%;/* One-third width minus gap for breathing room */
    font-size: 1.5em;
    text-align: left; /* Left align text */
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out, border-color 0.3s ease-in-out; /* Added border-color to transitions */
    margin-bottom: 10px; 
    border: 2px solid transparent; /* Transparent border to maintain layout */
    text-decoration: none;
}

.condition-option[data-condition="psoriasis"]:hover {
    margin-top: -5px; 
    margin-bottom: 30px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border-color: #5c9cf5; /* Update the border color on hover */
}

.condition-option[data-condition="eczema"]:hover {
    margin-top: -5px; 
    margin-bottom: 30px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border-color: #ff7ea3; /* Update the border color on hover */
}

.condition-option[data-condition="acne"]:hover {
    margin-top: -5px; 
    margin-bottom: 30px; 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); 
    border-color: #f8e892; /* Update the border color on hover */
}

.condition-title {
    font-size: 1.4em; /* Font size for the title */
    margin-bottom: 10px; /* Space between title and blurb */
    text-decoration: none;
    color: #2c3138;
    font-weight: 700;
}

.condition-blurb {
    font-size: 0.9em; /* Font size for the blurb */
    color: #44474b; /* Color for the blurb */
    text-decoration: none;
    font-weight: 400;
}

/* Footer */
footer {
    margin-top: auto;
    position: relative;
}

.disclaimer-toggle {
    background-color: #ffe8ee;
    border: 2px solid #ffe8ee;
    padding: 7px 5px;
    font-size: 0.9em;
    text-align: center;
    margin-top: -5em;
    cursor: pointer;
    width: 200px;  /* Initial width */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);  /* Center the disclaimer on the footer */
    transition: all 0.3s ease-in-out;
    border-radius: 10px
}

#disclaimer-header {
    font-weight: 600;
}

.expanded {
    width: 50%;  /* Width when expanded to match the header */
    left: 50%;
    margin-bottom: 5em;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Style for the input[type=file] */
input[type="file"] {
    margin: 50px auto;
    background-color: white;
    border: 2px solid #5c9cf5;
    border-radius: 10px;
    padding: 2%; 
    font-size: 1.2em;
    text-align: left;
    cursor: pointer;
    color: #5c9cf5;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 80%;
}

/* Change the default text of the file input to "Drag and drop or click to select" */
input[type="file"]::-webkit-file-upload-button {
    visibility: hidden;
}

input[type="file"]::before {
    content: "Drag or drop or click to select.";
    display: block;
    cursor: pointer;
}

/* Upload Button */
input[type="submit"] {
    display: block;
    margin: 10px auto; /* Center it */
    background-color: #5c9cf5;
    color: #fff; /* White text color */
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    border: 1px;
}

input[type="submit"]:hover {
    background-color: #649fff; /* A shade lighter than #5c9cf5 */
}

.lab-options {
    display: flex;
    justify-content: space-between; /* Distribute the boxes evenly with space in between */
    align-items: flex-start; /* Align the top of the boxes */
    width: 50%; /* You can adjust this based on your requirements */
    margin: 100px auto; /* Center the conditions on the page */
    gap: 2%; /* Add a gap between the boxes */
    text-decoration: none;
}

.options-box {
    flex: 1; /* Allow boxes to grow and take equal width */
    font-size: 1.5em;
    text-align: left;
    padding: 30px; /* Adjust padding as required */
    height: 400px; /* A fixed height ensures all boxes are of the same height */
    border-radius: 10px;
    cursor: pointer;
    background-color: #f6f7fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.1s ease-in, border-color 0.1s ease-in;
    margin-bottom: 10px; 
    border: 2px solid #e8ecf1;
    text-decoration: none;
}

.options-box[data-condition="condition"]:hover {
    border-color: #dde9ff;
    background-color: #ebf1ff;
    transform: translateY(-2px); /* Slightly moves the box upwards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.options-box[data-condition="condition"]:active {
    background-color: #dde9ff;
}

.options-box[data-condition="analysis"]:hover {
    border-color: #ffe5ed;
    background-color: #fff2f6;
    transform: translateY(-2px); /* Slightly moves the box upwards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.options-box[data-condition="analysis"]:active {
    background-color: #ffe5ed;
}

.options-box[data-condition="spread"]:hover {
    border-color: #fefae9;
    background-color: #fefdf4;
    transform: translateY(-2px); /* Slightly moves the box upwards */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15), 0 8px 16px rgba(0, 0, 0, 0.1);
}

.options-box[data-condition="spread"]:active {
    background-color: #fefae9;
}

.options-box:active {
    background-color: #dde9ff;
}

/* Image preview styling */
.preview-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#imagePreview {
    max-width: 100%; /* Ensures the image does not exceed the parent width */
    height: auto; /* Maintains the image's aspect ratio */
    margin-bottom: 10px;
}

#imageName {
    text-align: center;
    font-size: 1.2em;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
}

.file-list {
    margin-top: 20px;
    text-align: center; 
    font-size: 1.1em;
}

.file-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
}


.checkmark {
    color: #00897B; /* Green color for the checkmark */
    margin-left: 10px;
}

/* Upload Button */
.upload-btn {
    display: inline-block;
    margin-top: 20px;
    background-color: #5c9cf5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
    border: 2px solid #5c9cf5;
    transition: background-color 0.3s ease-in-out;
}

.upload-btn:hover {
    background-color: #649fff;
}

.upload-btn:active {
    border-color: #3d7fd3;
    background-color: #3d7fd3;
}
.image-section {
    margin-top: 50px;
    text-align: center;
}

.image-section img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section p {
    margin-top: 20px;
    font-size: 1.2em;
    color: #414141;
    font-weight: 500;
}
